.TodoListitem {
    padding: 1rem;
    display: flex;
    flex:1;
    align-items: center;
    &:nth-child(even){ //짝수인 경우 배경을 다른색으로 변경해주기
        background: #f8f9fa;
    }
    .checkbox{
        cursor: pointer;
        flex :1;
        display: flex;
        align-items: center;
        svg{ // 체크박스 아이콘
            font-size : 1.5rem;;
        }
    
      .text{
            margin-left:0.5rem;
            flex:1;

        }
        
        &.checked { 
            svg{
                color: #22b8cf;
            }
            .text{
                color: #adb5bd;
                text-decoration: line-through; //선의 스타일을 지정
            }
        }
    }

    .remove{
        display: flex;
        
        align-items: center;
        font-size:1.5rem;
        cursor: pointer;
        &:hover{
            color:#ff8787;

        }
        //엘리먼트 사이사이에 테두리를 넣어 줌
        & + & {
            border-top:1px solid #dee2e6;
        }
    }
}


